body {
	font-family: 'Lato', sans-serif;
	background-image: url('../images/brickwall.jpg');
}

.jumbotron {
	margin-top: 20px;
	background-color: #393839;
	color: #EEF0EB;
}

h1 {
	font-family: 'Diplomata SC', cursive;
}

h3 {
	padding: 10px;
	font-family: 'Diplomata', cursive;
}

.img-responsive {
	height: 200px;
}

#train-ads {
	margin: 20px;
}

#panel-dark {
	background-color: #393839;
	color: #EEF0EB;
}

#panel-light {
	background-color: #EEF0EB;
	color: #393839;
}

.panel {
	border-color: #393839;
}